.gradle
.idea
lib
out
test.css
build
node_modules

src/main/gen
src/main/java/org
src/main/resources/icons/jar-gray.png

src/test/java/org
src/test/testData
#gradle.properties
chain.crt
private.pem
package.json
stylelint.config.js
